:root{
    --VeryDarkBlue: hsl(233, 47%, 7%);
    --DarkDesaturatedBlue: hsl(244, 38%, 16%);
    --SoftViolet: hsl(277, 64%, 61%);
    --White: hsl(0, 0%, 100%);
    --SlightlyParagraph: hsla(0, 0%, 100%, 0.75);
    --SlightlyHeadings: hsla(0, 0%, 100%, 0.6);
    --mask: hsl(277, 79%, 36%);

    --pricipalFont:'Inter', sans-serif;
    --secundaryFont: 'Lexend Deca', sans-serif;
   
    
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-color: var(--VeryDarkBlue);
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;    
}
@media (min-width: 768px) {
    img{
        border-radius: 0 1rem 1rem 0;
    }
   
}
h1{
    text-align: center; 
    font-family: var(--pricipalFont);
    font-size: 2.8rem;
    font-weight: 700;
    color:var(--White);
}
@media (min-width: 768px) {
   h1{
        text-align: left;
        font-size: 3.8rem;
   }
}
h2{
    text-align: center; 
    font-family: var(--pricipalFont);
    font-size: 2rem;
    color:var(--White);
    font-weight: 700;
}
@media (min-width: 768px) {
   h2{
    text-align: left;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
   }
}

h3{
    text-align: center; 
    font-family: var(--secundaryFont);
    font-size: 1.5rem;
    color:var(--SlightlyHeadings);
    text-transform: uppercase;
    font-weight: 400;

}
@media (min-width: 768px) {
    h3{
     text-align: left;
     font-size: 1.5rem;
     margin: 0;
    }
 }
span{
    color: var(--SoftViolet);
}

.contenedor{
    max-width: 144rem;
    margin: 0 auto;
}

.card{
    background-color: var(--DarkDesaturatedBlue);
    margin: 0 2.5rem;
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .card{
        display:grid;
        grid-template-columns: repeat(2, 1fr); 
        column-gap: 5rem;
        margin: 0 16rem;      
    }
   
}
.card__image{
    position: relative;
}
@media (min-width: 768px) {
    .card__image{
        grid-column: 2/3;
    }
}

.card__image--mask{
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    width: 100%;
    height: 99.7%;
    opacity: 0.5;
    background-color: var(--mask);
    border-radius: 1rem 1rem 0 0; 
    
}
@media (min-width: 768px) {
   .card__image--mask{
    grid-column: 2/3;
    border-radius: 0 1rem 1rem 0;
   }
}
.card__content{
    padding: 3rem;
}
@media (min-width: 768px) {
    .card__content{
        grid-row: 1/2;
        padding: 4rem 5rem 1rem 7rem;
    }
}

.card__description{
    text-align: center;
    font-family: var(--pricipalFont);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color:var(--SlightlyParagraph);
}
@media (min-width: 768px) {
   .card__description{
        text-align: left;
        font-size: 1.6rem;
   }
}

@media (min-width: 768px) {
    .stats{
        display: flex;
        justify-content:space-between;
        margin-top: 5rem;
        margin-right: 4rem;
    }
}
.footer{
    display: none;
    text-align: center;
    font-family: var(--pricipalFont);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2;
    font-family: var(--);
    color:var(--SlightlyParagraph);
}



